@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 0%;
    --foreground: 0 0% 100%;
    --card: 0 0% 5%;
    --primary: 18 92% 50%; /* burn orange */
    --muted: 0 0% 60%;
  }
  .dark {
    --background: 0 0% 0%;
    --foreground: 0 0% 100%;
    --card: 0 0% 5%;
    --primary: 18 92% 50%;
    --muted: 0 0% 60%;
  }
  body {
    @apply dark:bg-[#0D0D0D] dark:text-white;
  }
}
